.lds-dual-ring {
  position: absolute;
  top: 150px;
  right: 100px;
  display: inline-block;
  width: 14px;
  height: 14px;
  z-index: 999;
}
.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 50%;
  border: 6px solid #003a70;
  border-color: #003a70 transparent #003a70 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hiddenLoader {
  display: none;
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}