<div class="footer-container">
    <div class="footer-content">
        <div class="image-container">
            <img src="../../../assets/pikachu2.png">
        </div>
        <div class="socials">
            <span class="social-title">Contact</span>
            <span class="social-item">Facebook</span>
            <span class="social-item">Whatsapp</span>
            <span class="social-item">Linkedin</span>
            <span class="social-item">Github</span>
        </div>
    </div>
    <span>Copiright</span>
</div>