.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.switch-container {
    font-family: sans-serif;
    margin: auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,.2);
    opacity: 0;
    transition: all .6s;
}
.switch-container:hover {
    opacity: 1;
}