.component-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.pokemon-title-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.pokemon-title-container > span {
    margin: 10px;
    font-weight: 700;
    font-size: 28px;
}

.pokemon-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.image-evolutions-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.image-evolutions-container > .evolutions-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.image-evolutions-container {
    border: 1px solid rgba(0, 58, 112, .2);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 58, 112, .2);
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.evolution {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 58, 112, .2);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 58, 112, .2);
    margin: 10px;
}
.evolution > img {
    max-width: 100px;
}
.selected {
    background-color: rgba(0, 58, 112, .2);
}
.description {
    max-width: 300px;
}
.data-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}
.data-text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(0, 58, 112, .2);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 58, 112, .2);
    border-radius: 4px;
    width: 100%;
}
.single-data-container {
    margin: 5px;
}
.single-data-container > * {
    display: block;
    margin: 5px;
}
.label {
    font-weight: 600;
    font-size: 18px;
}
.data {
    font-size: 16px;
}
ul {
    list-style-type: none;
}
ul li {
    margin: 10px 0px;
}

.back {
    position: absolute;
    top: 20%;
    left: 7%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 58, 112, .4);
    background-color: rgba(0, 58, 112, .2);
    font-weight: 400;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.back:hover {
    background-color: rgba(0, 58, 112, .4);
}
.back-icon {
    width: 15px;
    margin: auto;
}
.chart-container {
    margin-top: 10px;
    max-width: 800px;
    min-width: 500px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 58, 112, .4);
}