.single-container {
    width: auto;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-weight: 800;
    color: white;
}