.lds-dual-ring {
  position: absolute;
  top: 14px;
  right: 28px;
    display: inline-block;
    width: 14px;
    height: 14px;
    z-index: 999;
  }
  .lds-dual-ring:after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 50%;
    border: 6px solid lightseagreen;
    border-color: lightseagreen transparent lightseagreen transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .hiddenLoader {
    display: none;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
  }